*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project specific
local.properties
google-services.json

# Backend - Node.js
backend-nongkibib/node_modules/
backend-nongkibib/dist/
backend-nongkibib/.env
backend-nongkibib/data_store.json
backend-nongkibib/*.log

# Build files
/*/build/
