<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/nongkibibkrem"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nongkibib2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NongkiBib"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ScholarshipDetailActivity"
            android:exported="false" />

        <activity
            android:name=".EventDetailActivity"
            android:exported="false" />

        <!-- Masukkan API Key Google Maps Anda di bawah ini -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD87rW3oGVf3PaWBy0r9g_nc3RoZntjLyc" />
    </application>

</manifest>